/* https://htmlcheatsheet.com/css/ */

body{
background: #1015E6;
background: -moz-linear-gradient(-45deg, #1015E6 0%, #CD95CA 100%);
background: -webkit-linear-gradient(-45deg, #1015E6 0%, #CD95CA 100%);
background: linear-gradient(135deg, #1015E6 0%, #CD95CA 100%);
}

section{
    display: grid;
    grid-template-areas: 
    ". a a b"
    "c d d b"
    "e e e b";
    row-gap: 2rem;
    column-gap: 2rem;
}

.a{grid-area: a;}
.b{grid-area: b;}
.c{grid-area: c;}
.d{grid-area: d;}
.e{grid-area: e;}

div{
    background-color: aliceblue;
    border-radius: 2rem;
    font-size: 4rem;
    padding: 2rem;
    border: 4px dotted red;
}

a{
    color: red;
}