body{
    background-color: antiquewhite;
}

video#edunova{
    max-width: 500px;
}

.stranica{
    min-width: 500px;
    min-height: 300px;
    border: 3px solid blue;
    border-radius: 10px;
}

.pdf{
    width: 100%;
    min-height: 800px;
}

.karta{
    width: 100%;
    max-height: 300px;
}